@import url(http://fonts.googleapis.com/css?family=Lato)

@import "normalize-scss"

.hidden
  display: none


html, body
  height: 100%

main
  min-height: 100%

.navbar
  border: 0
  text-align: center
  margin-bottom: 0
  border-bottom: 1px solid #ccc

.page-body
  .clearfix
  padding: 40px

.search-block,
.actions-block
  margin-bottom: 20px

.search-block
  padding: 10px
  border: 1px solid #e7e7e7
  text-align: center

.label
  display: block

.list-actions
  padding: 10px
  border-top: 1px solid #ccc
  background: #f8f8f8
  text-align: center
  .btn
    &:first-child
      margin-right: 30px

