---
title: Address book
---

<div>

  <div class="actions-block clearfix">
    <form ng-submit="dashboard.filterContacts(filterForm)" class="form-inline">
      <div class="form-group">
        <select ng-init="filterForm.groupId=0" ng-model="filterForm.groupId" ng-options="gr.id as gr.name for gr in dashboard.filterGroups" class="form-control"></select>
      </div>
      <div class="form-group">
        <input type="text" placeholder="First or Last Name" ng-model="filterForm.firstOrLastName" class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-default" />
      </div>
      <a ng-click="dashboard.filterReset()" href="#" class="btn btn-default">Reset</a>
    </form>

    <div class="add-block" ng-class="{ hidden: dashboard.showAddContact() }">
      <a class="btn btn-primary" ng-click="dashboard.openAddContact()" href="#">Add contact</a>
    </div>
  </div>

  <div class="add-form-block" ng-class="{ hidden: !dashboard.showAddContact() }">
    <form ng-submit="dashboard.addContact(newContact)" class="form-inline">
      <div class="form-group">
        <input required="true" type="text" placeholder="First Name" ng-model="newContact.firstName" class="form-control" />
      </div>
      <div class="form-group">
        <input type="text" placeholder="Last Name" ng-model="newContact.lastName" class="form-control" />
      </div>

      <div class="form-group">
        <select ng-init="newContact.groupId=0" ng-model="newContact.groupId" ng-options="gr.id as gr.name for gr in dashboard.contactGroups" class="form-control"></select>
      </div>

      <div class="form-group">
        <input type="text" placeholder="Group Name" ng-model="newContact.newGroupName" ng-show="newContact.groupId === 0" class="form-control" />
      </div>

      <input type="submit" value="Add" class="btn btn-primary" />
      <a class="btn btn-default" ng-click="dashboard.closeAddContact()" href="#" class="btn btn-default">Cancel</a>
    </form>
  </div>


  <div class="list-group">
    <div ng-repeat="contact in dashboard.contacts" class="list-group-item">
      <div class="clearfix">
        <div class="contact-info">
          <span>{{contact.firstName}}</span>
          <span>{{contact.lastName}}</span>
          <div class="label label-primary">Group: {{dashboard.getGroupById(contact.groupId).name}}</div>
        </div>
        <div class="pull-right">
          <a class="btn btn-default" ng-click="dashboard.openEditContact(contact)" href="#">Edit</a>
          <a class="btn btn-default" ng-click="dashboard.deleteContact(contact)" href="#">Delete</a>
        </div>
      </div>
      <div ng-class="{ hidden: dashboard.hideEditContact(contact) }">
        <form ng-submit="dashboard.editContact(contact)" class="form-inline">
          <div class="form-group">
            <input required="true" type="text" placeholder="First Name" ng-model="contact.firstName" class="form-control" />
          </div>
          <div class="form-group">
            <input type="text" placeholder="Last Name" ng-model="contact.lastName" class="form-control" />
          </div>

          <div class="form-group">
            <select ng-model="contact.groupId" ng-options="gr.id as gr.name for gr in dashboard.editGroups" class="form-control"></select>
          </div>

          <input type="submit" value="Edit" class="btn btn-primary"/>
          <a ng-click="dashboard.closeEditContact(contact)" href="#" class="btn btn-default">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div><!-- .dashboard -->